html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.default-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1;
  overflow: hidden;
  flex-grow: 1;
}

.footer {
  height: 3rem;
  line-height: 3rem;
}
