html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.default-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1;
  overflow: auto;
  flex-grow: 1;
}
.homePage {
  min-height: 100%;
}
.form-wrapper {
  min-height: 100%;
}
.footer {
  height: 3rem;
  line-height: 3rem;
}

/* sign in page  */
.signin-page {
  min-height: 100%;
  background: url(./assets/login1.jpg) center no-repeat;
  background-size: cover;
}
